@import 'animation'
@import 'base'

.page
  overflow-y: scroll
  height: 100%
  padding: 7vh 5vw

.its-me
  border-bottom: 0.1em solid
  animation: color-pulse 90s linear infinite
  padding-bottom: 0.618em
  margin-bottom: 3em