@import 'jeet'

@keyframes color-pulse-1
    0%, 100%
        background: #6F382A
    16.666666667%
        background: #574615
    33.333333334%
        background: #2E4F28
    50.000000001%
        background: #023935
    66.666666668%
        background: #324961
    83.333333335%
        background: #613A51

@keyframes color-pulse-2
    0%, 100%
        color: #EF9676
    16.666666667%
        color: #D0B33F
    33.333333334%
        color: #80C372
    50.000000001%
        color: #09C8BE
    66.666666668%
        color: #89B8DE
    83.333333335%
        color: #DE9BC6

*
    cursor: default
    box-sizing: border-box

html, body
    height: 100%
    padding: 0
    margin: 0
    overflow: none

html
    font: 18px/1.618em 'Mirta', 'Georgia', serif
    font-weight: 400
    color: #ffffff
    background: #6F382A
    animation: color-pulse-1 90s linear infinite
    ::selection
        background-color: #000000

p, h1, h2, h3, h4, h5, h6
    margin: 0
    font: inherit

a
    color: #EF9676
    text-decoration: none
    animation: color-pulse-2 90s linear infinite
    display: block
    border: 0.618em solid
    height: 100%

h1
    font-size: 10em
    margin-top: 0.1em
    font-weight: 600
    +align(both)

.hidden
    display: none