@import 'animation'
@import 'base'

.its-me
  border-bottom: 0.1em solid
  animation: color-pulse 90s linear infinite
  padding-bottom: 0.618em
  margin-bottom: 2.5em

// h2
//   font-size: 1.618em
//   padding-bottom: 0.618em

// .web-speed
//   float: left
//   width: calc(100%/1.618)
//   height: 100%
//   padding: 2em 2em
//   h2
//     margin-bottom: 1em
//     display: inline-block

// ul
//   list-style: none
//   margin: 0
//   display: block
//   width: 100%
//   user-select: none
//   padding: 0
//   li
//     user-select: text
//     display: inline-block
//     margin-bottom: 1em